.App {
  background-color: #f1f1f2;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 50px;
  padding: 20px;
}

.App-logo {
  height: 100%;
}

.Avatar {
  margin: 10% 0 0 70%;
}

.Card {
  height: 80%;
  margin: auto;
  width: 65%;
  word-wrap: break-word;
  overflow: auto;
}

.Card-header {
  margin-top: -30%;
  word-wrap: break-word;
  overflow: auto;
}

.Card-title {
  margin-top: -15%;
  padding: 0 16%;
  word-wrap: break-word;
  overflow: auto;
}

.Grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10%;
}

.Section-form {
  padding: 2% 0 0 65%;
}

.Section-main {
  margin: 5%;
}
