.App {
  background-color: #f1f1f2;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 50px;
  padding: 20px;
}

.App-logo {
  height: 100%;
}


.Image--artist {
 padding: 1%;
 max-width: 250px;
 object-fit: scale-down;
}

@media (max-width: 768px) {
  .Grid-container {
    columns: 2;
  }
}

.Section-form {
  padding: 2% 0 0 65%;
}

.Section-main {
  margin: 5%;
}
